<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>LyricShiori</string>
    <key>CFBundleExecutable</key>
    <string>LyricShiori</string>
    <key>CFBundleIdentifier</key>
    <string>dev.lyricshiori.app</string>
    <key>CFBundleName</key>
    <string>LyricShiori</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.3</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lrcs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LyricShiori Lyrics</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.lyricshiori.lrcs</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LyricShiori Lyrics</string>
			<key>UTTypeIdentifier</key>
			<string>com.lyricshiori.lrcs</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lrcs</string>
				</array>
			</dict>
		</dict>
	</array>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>LyricShiori needs to read and control Spotify playback to show synchronized lyrics.</string>
</dict>
</plist>
